<div class="row">

    <div class="col-md-6">
        <h1>ng-if</h1>

        <button type="button" class="btn btn-outline-primary block" (click)=" mostrar = !mostrar">
            Mostrar/Ocultar
        </button>

        <hr>

        <div *ngIf="mostrar" class="card card-inverse card-success mb-3 text-center">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p>{{frase.mensaje}}</p>
              <footer>Someone famous in <cite title="Source Title">{{frase.autor}}</cite></footer>
            </blockquote>
          </div>
        </div>
    </div>

    <div class="col-md-6">
        <h1>ng-for</h1>
        <hr>
        <ul class="list-group">
            <li *ngFor="let personaje of personajes; let i = index;" class="list-group-item">{{i+1}}. {{personaje}}</li>
        </ul>
    </div>

</div>
